<header>
    <div class="header-top">
      <p>10% off en tu primera compra</p>
    </div>
    <div class="main-bar">
      <div class="menu-logo">
        <a href="/"><i class="fa-solid fa-bars"></i></a>
        <a href="/">
          <img class="logo" src="/img/cosmica_logo_almostblack.png" alt="logo" />
        </a>
      </div>
      <div class="icons-log-reg">
        <a><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </div>
  </header>