<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agregue awesome para usar los iconos -->
    <script src="https://kit.fontawesome.com/c08cc80d65.js" crossorigin="anonymous"></script> 
    <title>Mi carrito</title>
</head>
<body>
    <header class="main-header">
    <div class="main-header-top-bar">
    <div class="logo">
    <img src="" alt="">
    </div>
    <div class="form" action="#" method="GET">
    <input type="text" placeholder="Buscar productos">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="hambuger-menu">
    <i class="fa-solid fa-bars fa-xl"></i>
    </div>
    
    
    </div>
    </header>
    <h1>Carrito perrito</h1>
</body>
</html>