<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agregue awesome para usar los iconos -->
    <script src="https://kit.fontawesome.com/c08cc80d65.js" crossorigin="anonymous"></script> 
    <title>Mi carrito</title>
</head>
<body>
    <header class="main-header">
    <div class="main-header-top-bar">
        <div class="logo">
            <img src="" alt="">
        </div>
        <div class="form" action="#" method="GET">
            <input type="text" placeholder="Buscar productos">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="hambuger-menu">
            <i class="fa-solid fa-bars fa-xl"></i>
        </div>
    </div>
    <main>
    <h2>Mi carrito</h2>
    <h3>2 items</h3>
    <section class="cart-product">
        <article>
            <div>
            <img src="" alt="image_product_1">
            </div>
            <div>
                <h4>Name_Product_1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eligendi quos praesentium alias maxime quod architecto dolor a. Obcaecati explicabo distinctio error voluptates ipsum qui at? Minima eaque debitis labore.</p>
                <p class="cart-product-price">Price: $123.45</p>
                <div>
                <button>-</button>
                <p>1</p>
                <button>+</button>
                </div>
                <div>
                <button>Eliminar producto</button>
                </div>
            </div>

        </article>
    </section>
    </main>
    </header>
    <h1>Carrito perrito</h1>
</body>
</html>