<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosmica</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/d920995c8a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="header-top">
        <p>10% off en tu primera compra</p>
      </div>
      <div class="main-bar">
        <div class="menu-logo">
          <i class="fa-solid fa-bars"></i>
          <img
            class="logo"
            src="/img/cosmica_logo_almostblack.png"
            alt="logo"
          />
        </div>
        <div class="icons-log-reg">
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-circle-user"></i>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </header>
    <section>
      <img class="banner" src="/img/banner1.jpg" alt="banner" />
    </section>
    <main>
      <div class="category-section">
        <p class="category-tittle">Categorías</p>
        <div class="categories">
          <div class="category">
            <img class="img-category" src="/img/category1.jpeg" alt="foundation" />
          </div>
          <div class="category">
            <img class="img-category" src="/img/category2.jpeg" alt="blush" />
          </div>
          <div class="category">
            <img class="img-category" src="/img/category3.jpg" alt="liner" />
          </div>
          <div class="category">
            <img class="img-category" src="/img/category4.jpg" alt="lipstick" />
          </div>
        </div>
      </div>
      <h3>Productos Destacados</h3>
      <div class="featured-products">
        <article class="product">
          <img class="product-img" src="/img/base-1.jpg" alt="foundation" />
          <p class="product-tittle">Base de maquillaje</p>
          <p class="product-price">$9.99</p>
        </article>
        <article class="product">
        <img class="product-img" src="/img/delineador-1.jpg" alt="liner" />
          <p class="product-tittle">Delineador de ojos</p>
          <p class="product-price">$5.99</p>
        </article>
        <article class="product">
        <img class="product-img" src="/img/labial-1.jpg" alt="lipstick" />
          <p class="product-tittle">Lápiz de labios</p>
          <p class="product-price">$10.99</p>
        </article>
        <article class="product">
        <img class="product-img" src="/img/rubor-1.jpg" alt="blush" />
          <p class="product-tittle">Rubor en polvo</p>
          <p class="product-price">$7.99</p>
        </article>
      </div>
      <h3>Ofertas</h3>
      <div class="featured-products">
        <article class="product">
          <img class="product-img" src="/img/delineador-2.jpg" alt="liner" />
          <p class="product-tittle">Delineador de ojos marrón</p>
          <p class="product-price">$11.99</p>
          <p class="product-dsc">20%</p>
        </article>
        <article class="product">
          <img class="product-img" src="/img/base-2.jpg" alt="foundation" />
          <p class="product-tittle">Base de maquillaje</p>
          <p class="product-price">$6.99</p>
          <p class="product-dsc">10%</p>
        </article>
        <article class="product">
          <img class="product-img" src="/img/labial-2.jpg" alt="lipstick" />
          <p class="product-tittle">Lápiz de labios</p>
          <p class="product-price">$9.99</p>
          <p class="product-dsc">5%</p>
        </article>
        <article class="product">
          <img class="product-img" src="/img/rubor-2.jpg" alt="blush" />
          <p class="product-tittle">Paleta de iluminador y rubor</p>
          <p class="product-price">$15.99</p>
          <p class="product-dsc">20%</p>
        </article>
        
      </div>
    </main>
    <footer>
        <div class="subscribe">
        <p>¡No te pierdas nuestras novedades y ofertas!</p>
        <div class="login-bar">
        <input type="email" placeholder="Ingresá tu correo electrónico" />
        </div>
        <button type="button" class="button-subscribe">Suscribirme</button>
        </div>
        <div>
          <i class="fa-solid fa-store"></i>
          <h6>Sobre nosotros</h6>
          <p>COSMICA SA</p>
          <p>P. Sherman Calle Wallaby 42</p>
          <p>Sidney</p>
          <i class="fa-solid fa-truck"></i>
          <h6>Envíos gratis desde $100</h6>
          <p>Envíos a todo el país con una compra minima de $100</p>
          <i class="fa-solid fa-credit-card"></i>
          <h6>12 cuotas sin interés</h6>
          <p>Con todas las tarjetas bancarizadas</p>
        </div>
        <div>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-whatsapp"></i>
        </div>
        </div>
    </footer>
  </body>
</html>
