<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosmica</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/d920995c8a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div>
        <p>10% off en tu primera compra</p>
      </div>
      <div class="main-bar">
        <div class="menu-logo">
          <i class="fa-solid fa-bars"></i>
          <img
            class="logo"
            src="/img/cosmica_logo_almostblack.png"
            alt="logo"
          />
        </div>
        <div class="icons-log-reg">
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-circle-user"></i>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </header>
    <section>
      <img class="banner" src="/img/banner1.jpg" alt="banner" />
    </section>
    <main>
      <div class="category-section">
        <h3>Categorías</h3>
        <div class="categories">
          <div class="category">
            <img class="img-category" src="/img/category1.jpeg" alt="base" />
          </div>
          <div class="category">
            <img class="img-category" src="/img/category2.jpeg" alt="blush" />
          </div>
          <div class="category">
            <img class="img-category" src="/img/category3.jpg" alt="liner" />
          </div>
          <div class="category">
            <img class="img-category" src="/img/category4.jpg" alt="lipstick" />
          </div>
        </div>
      </div>
      <h3>Productos Destacados</h3>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </main>
    <footer>
        <div class="subscribe">
        <p>¡No te pierdas nuestras novedades y ofertas!</p>
        <p>input de login</p>
        <p>boton de suscripcion</p>
        </div>
        <div>
            <p>Informacion del sitio</p>
            <p>iconos de ig fb y telefono</p>
        </div>
    </footer>
  </body>
</html>
