<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmica</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ee2653558.js" crossorigin="anonymous"></script>

<body>
    <header>
        <div class="header-top">
            <p>10% off en tu primera compra</p>
        </div>
        <div class="main-bar">
            <div class="menu-logo">
                <i class="fa-solid fa-bars"></i>
                <img class="logo" src="/img/cosmica_logo_almostblack.png" alt="logo" />
            </div>
            <div class="icons-log-reg">
                <a><i class="fa-solid fa-magnifying-glass"></i></a> 
                <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
              </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="product-container">
                <div class="product-image">
                    <img src="/img/base-1.jpg" alt="Imagen del producto">
                </div>
                <div class="product-details">
                    <h1 class="product-title">Base de maquillaje</h1>
                    <p class="product-price">$18000</p>
                    <p>Una base economica pero eficiente para realzar el color de la piel</p>
                    <a href="#" class="add-to-cart">Agregar al carrito</a>
                </div>
            </div>
        </div>


        <div> <img src="public/img/cosmica_logo_almostblack.png" alt="" width="150px"> </div>
       
    
        <img src="" alt="">
      <h3> Description </h3>
      <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis consequatur temporibus distinctio, unde iste vero dolore fuga ducimus voluptates, laboriosam sapiente quae harum nisi laborum aliquam dignissimos similique reiciendis provident?</p>
      <h3> Rewind </h3>
      <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda atque ut obcaecati consequatur inventore dolorum iusto et dolor accusamus! Laborum ullam dicta voluptate obcaecati itaque omnis doloribus consequatur eaque aperiam.</p>
      <h3> Ingredients </h3>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum mollitia porro a illum laborum architecto nostrum voluptas ducimus culpa labore animi id suscipit officiis possimus, itaque obcaecati nesciunt unde odio?</p>
      <h3> Related Articles </h3>
      <div>
        <img src="" alt="">
        <p> </p>
        <img src="" alt="">
        <p> </p>
        <img src="" alt="">
        <p> </p>
        <img src="" alt="">
        <p> </p>
      </div>

    
    </main>
    <footer>
        <div class="subscribe">
            <p>¡No te pierdas nuestras novedades y ofertas!</p>
            <div class="login-bar">
                <input type="email" placeholder="Ingresá tu correo electrónico" />
            </div>
            <button type="submit" class="button-subscribe">Suscribirme</button>
        </div>
        <div>
            <div class="footer-info">
                <section>
                    <i class="fa-solid fa-store"></i>
                    <h6>Sobre nosotros</h6>
                    <p>COSMICA SA</p>
                    <p>P. Sherman Calle Wallaby 42, Sidney</p>
                </section>
                <section>
                    <i class="fa-solid fa-truck"></i>
                    <h6>Envíos gratis desde $100</h6>
                    <p>Envíos a todo el país con una compra minima de $100</p>
                </section>
                <section>
                    <i class="fa-solid fa-credit-card"></i>
                    <h6>12 cuotas sin interés</h6>
                    <p>Con todas las tarjetas bancarizadas</p>
                </section>
            </div>
            <div class="social">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>
    </footer>
</body>

</html>