* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f2fb;
    font-size: 12px;
}

h3 {
    margin: 15px 0px;
    color: #3e005b;
    font-size: 1.5em;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #f4f2fb;
}

footer {
    background-color: #ff5355;
}

/* header */
/* barra de informacion header */
.header-top {
    background-color: #1b0025;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

/* barra principal del header */
/*clase que contiene toda la barra */
.main-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: #1b0025;
    font-size: 2em;
    max-width: 1200px;
    margin: auto;
    background-color: #f4f2fb;
}

.main-bar i {
    transition: color, 300ms;
}

.main-bar i:hover {
    color: #ff5355;
}

/* clase que contiene el hamburguer y el logo */
.menu-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* clase que contiene el logo */
.logo {
    width: 100px;
}

/* clase que contiene los iconos de busqueda registracion y carrito */
.icons-log-reg {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* fin de header */
/* clase que contiene el banner */
.banner {
    width: 100%;
}

/* main */
/* barra de categorias */
.category-section {
    color: white;
    background-color: #3e005b;
    padding: 5px;
}

/* titulo de la barra de categorias */
.category-tittle {
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: 550;
    font-size: 1.3em;
}

/* seccion de categorias */

.categories1,
.categories2 {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

/* categoria */
.category {
    background-color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 215px;
    width: 130px;
    height: 130px;
}

/* imagen de la categoria */
.img-category {
    width: 90px;
}

/* seccion de productos */
.main-section {
    width: 90vw;
    margin: auto;
}

/* clase que contiene todos los productos */
.featured-products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* clase de cada producto */
.product {
    width: 100%;
    max-width: 350px;
    margin: auto;
    background-color: white;
    margin-bottom: 10px;
}

/* clase de la descripcion de producto */
.descrip {
    background-color: white;
    border-top: #f4f2fb 1px solid;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
    position: relative;
}

.descrip i {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 1.8em;
    color: #1b0025;
    transition: all 300ms;
}

.descrip i:hover {
    font-size: 2em;
    color: #ff5355;
}

/* clase que contiene el precio y el descuento */
.product-full-price {
    display: flex;
    justify-content: space-around;
}

/* detalle de producto */
.product-tittle {
    font-weight: 500;
}

.product-price {
    font-weight: 600;
    color: #ff5355;
}

.product-dsc {
    color: #3e005b;
    font-weight: 500;
}

.product-img,
.descrip {
    width: 100%;
    max-width: 350px;
}


/*fin del main */ 
/* footer */
/* seccion de suscribirse */
.subscribe {
    background-color: #3e005b;
    color: white;
    text-align: center;
    padding: 5px;
    line-height: 1.9em;
}

.login-bar input {
    padding: 5px;
    border-radius: 7px;
    border: none;
    width: 50%;
    text-align: center;
}
input:focus, input:hover{
    outline: 2px #ff5355 solid; 
}

.button-subscribe {
    border: none;
    border-radius: 10px;
    width: 25%;
    line-height: 1.5em;
    background-color: #1b0025;
    color: white;
    margin: 5px;
    transition: background-color 450ms;
}
.button-subscribe:hover, .button-subscribe:focus{
    background-color: #ff5355;
    outline: none;

}

/* seccion de informacion del footer */
.footer-info {
    text-align: center;
}

.footer-info h6 {
    font-size: 1.2em;
}

.footer-info i,
.social i {
    font-size: 2em;
}

.footer-info i:hover,
.social i:hover {
    color: #3e005b;
}

.footer-info section {
    margin: 10px 5px;
}

.social {
    text-align: center;
}

/*
ProductDetail
*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  height: 100vh; */
    margin: 0;
    background-color: #f0f0f0;
}

.product-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    flex: 1;
}

.product-details {
    flex: 2;
    padding: 20px;
}

.product-title {
    font-size: 24px;
    color: #333;
}

.product-price {
    font-size: 20px;
    color: #666;
}

.add-to-cart {
    background-color: #ff5355;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

/* 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.product-image img {
    width: 100%;
    max-height: 400px;
  
    object-fit: cover;
}

.product-details {
    padding: 20px;
    text-align: center;
}

.product-details h2 {
    font-size: 24px;
   
    margin: 0;
}

.rating {
    margin: 10px 0;
    font-size: 20px;
  
    color: #ffd700;
}

.reviews {
    margin-left: 5px;
    color: #555;
}

.price {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.discount-price {
    color: #e60000;
}

.original-price {
    text-decoration: line-through;
    color: #888;
}

.add-to-cart {
    background-color: #e60000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #cc0000;
}
 */
/*
ProductDetail
*/

/*probando*/
/* carrito */ 
h2{
    background-color: #3e005b;
    color: white;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100vw;
    font-size: 1.2em;
}
h4{
    font-size: 1.3em;
    margin-bottom: 3px;
}
.product-quant{
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    color:#3e005b;
    padding: 5px;
    margin-top: 5px;
    border-bottom: 1px solid #F2E0F7;
}
.product-descrip{
    margin: 3px;
}
.product-descrip p{
    margin-top: 3px;
    margin-bottom: 3px;
}
.cart-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid #F2E0F7;
}
.cart-product img{
    width: 40vw;
    margin-bottom: 5px;
    max-width: 350px;
}
.cart-product-price{
    font-size: 1.1em;
    color: #ff5355;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 3px;
}
.add-delete-product{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 5px;
    max-width: 300px;
}
.button-plus{
    display: flex;
    gap: 3px;   
    align-items: center;
}
.button-plus button{
    width: 20px;
    height: 20px;
    line-height: 14px;
    font-weight: 500;
}
.add-delete-product button, .purchase-total button{
    background-color: #ff5355;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 3px;
    font-weight: 500;
}
.cupon-disc{
    background-color: #3e005b;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px;
    height: 40px;
    width: 80vw;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}
.cupon-disc input{
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    line-height: normal;
    margin-top: 2px;
}
.ship-form{
    background-color: #ff5355;
    color: white;
    padding: 10px;
    font-weight: 400;
    margin-bottom: 5px;
}
.ship-form p{
    font-weight: 500;
    text-align: center;
    margin-bottom: 7px;
}
.ship-form div{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 1em;
    justify-content: space-between;
}
.ship-form label{
    display: inline-block;
    width: 30%;
}
.ship-form input, .ship-form textarea{
    width: 70%;
    border: none;
    padding: 3px;
    border-radius: 3px;
}
.purchase-total{
    background-color: #3e005b;
    color: white;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.1em;
}
.payment-details{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.total{
    background-color: #ff5355;
    color: #3e005b;
    font-size: 1.1em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.purchase-button{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.purchase-button button{
    color: #3e005b;
    font-size: 0.8em;
    line-height: 15px;
    font-weight: 500;
}
/* register */
.form-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-register input{
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1px;
    border: 1px solid #3e005b;
    text-align: center;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    border-radius: 10px;
}
.form-register input:focus, .form-register input:hover{
    border: 0px #ff5355 solid;
}
.password{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1px;
    padding-right: 2px;
    border: 1px solid #3e005b;
    width: 250px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.password:focus, .password:hover{
    outline: 2px #ff5355 solid; 
    border: 0px #ff5355 solid;
}
.password input{
    border: none;
    width: 210px;
    margin: 0;
    height: 20px;
}
.password input:hover, .password input:focus{
    outline: none;
}
.password i{
    color: #1b0025;
    margin-right: 2px;
}
.form-register button{
    background-color: #ff5355;
    border: none;
    border-radius: 10px;
    padding: 3px;
    font-size: 1.1em;
    font-weight: 600;
    width: 250px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* tablets */
@media (min-width: 576px) {
    .featured-products {
        flex-direction: row;
    }

    .product {
        width: 40vw;
    }

    .categories {
        display: flex;
        justify-content: space-around;
    }

    .categories1,
    .categories2 {
        width: 50%;
    }

    .footer-info {
        display: flex;
        justify-content: space-around;
    }

    .footer-info section {
        width: 28%;
    }

    .product {
        transition: box-shadow, 300ms;
    }

    .product:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .product-descrip{
        width: 55%;
    }
}

/* desktops */
@media (min-width: 992px) {
    .product {
        width: 22vw;
    }
    .form-register{
        border: #ff5355 3px solid;
        padding: 10px;
        border-radius: 15px;
        width: 300px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .product-descrip{
        width: 70%;
        font-size: 1.3em;
    }
    .product-quant{
        font-size: 1.5em;
    }
}